.container {
  width: 70%;
  height: 10rem;
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: gray 0px 14px 28px;
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  position: absolute;
  align-items: center;
  justify-content: space-around;
}

.logocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vw;
}

.logoline2 {
  color: rgb(0 30 56);
}

.logoline1 {
  color: rgb(252 73 4);
}

.imageContainer {
  width: 8rem;
  height: 8rem;
}

.imageContainer img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border: solid 3px;
  border-color: rgb(0 30 56);
  border-radius: 50%;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.namecontainer1 {
  color: rgb(0 30 56);
  font-family: Roboto, sans-serif;
  padding: 2px;
}
